body {
  background-color: rgb(255, 202, 137);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

footer {
  text-align: center;
  padding: 45px;
}

.header-title {
  text-align: center;
}

.post-container {
  background-color: rgb(236, 146, 35);
  width: 60ch;
  padding: 0px 50px 0px 50px;
  border-radius: 10px;
}

.center {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  justify-content: center;
}

.post {
  background-color: rgb(255, 202, 137);
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 10px;
}

a {
  color: black;
}
a:hover {
  color: rgb(156, 86, 1);
}
