body {
  margin: 0;
}

h2 {
  text-align: center;
}

h3 {
  padding-top: 2.5%;
}

header {
  background-color: rgb(164, 241, 164);
  text-align: center;
  padding: 5px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.posts {
  background-color: rgb(235, 172, 235);
  padding: 3%;
}

.blogs {
  background-color: rgb(240, 240, 197);
  padding: 3%;
}

.entries {
  background-color: rgb(250, 214, 148);
  padding: 3%;
}

.post-container {
  padding: 3%;
}

.blog-container {
  height: auto;
  padding-top: 5%;
}

.blog {
  text-decoration: none;
  color: blueviolet;
  display: block;
  padding: 15px 0px;
}

.post {
  padding-top: 2%;
}

footer {
  background-color: rgb(172, 214, 241);
  text-align: center;
  padding: 5px;
}
